In [1]:
tup = ()
brothers = ("isa", "abba", "saleh")
sisters = ("khadijah", "ummi", "amne")
siblings = brothers + sisters 

print (siblings)

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne')

In [3]:
len(siblings)

6

In [4]:
f_members = siblings[:]
print(f_members)

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne')

In [10]:
f_members + ("muhammed", "hafsah")

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne', 'muhammed', 'hafsah')

Excercise 2

In [11]:
del f_members

In [14]:
fruits = ("watermelon","banana")
vegetables = ("tomato", "salad" )
animal_products = ("chicken", "turkey")

In [17]:
food_stuffs_tp = fruits + vegetables + animal_products
food_stuffs_tp

('watermelon', 'banana', 'tomato', 'salad', 'chicken', 'turkey')

In [20]:
mid_items = food_stuffs_tp[2:4]
mid_items

('tomato', 'salad')

In [22]:
f_3_items = food_stuffs_tp[:3]
f_3_items

('watermelon', 'banana', 'tomato')

In [23]:
del food_stuffs_tp

In [27]:
"banana" in food_stuffs_tp

NameError: name 'food_stuffs_tp' is not defined

In [28]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [29]:
'Estonia' in nordic_countries

False

In [30]:
'Iceland' in nordic_countries

True


                                  Sets Excercises below ....

In [34]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [35]:
len(it_companies)

7

In [38]:
it_companies.add("Twitter")

it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [42]:
it_companies.remove("Oracle")

KeyError: 'Oracle'

In [43]:
it_companies

{'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Twitter'}

Difference Between Remove() and Discard in-built set methods..

Remove: this is used to specifically remove an element that is passed as a parameter to a the method. if the items s not fount within the set, this method raise an error message. 

Disscard : this method is similar to the Remove method except this does not raise an error even if the reqired item is not found within the set.

                                    sets exercise Two 2 below...

In [44]:
C = A.union(B)
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [46]:
intersection = A.intersection(B)
intersection

{19, 20, 22, 24, 25, 26}

In [49]:
A.isdisjoint(B)

False

In [50]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [53]:
A.symmetric_difference(B)

{27, 28}

In [54]:
del A,B,it_companies

                                    Set Excercise 3 below ...

In [56]:

st = set(age)

In [59]:
len(st) == len(age)

False

String : A string is a sequence of characters enclosed in single quotes (') or double quotes (")
list : This however, contains ordered collection of items of dofferent data types.

Turple : A tuple is similar to a list, but it is immutable, which means it cannot be modified after its creation.

Set : a set is an unordered container of elements that is mutable. however, duplications is not possible in sets.

In [67]:
string = "I am a teacher and I love to inspire and teach people"
words = string.split(" ") 
st = set(words)

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']

In [71]:
print(f"the number of unique words useed is {len(st)}")

the number of unique words useed is 5