                                Exercise 5 level 1

In [ ]:
#Declare an empty list
lst = []

In [11]:
#Declare a list with more than 5 items
names = ["abba", 2, 3.14, "umar", "isa", "khalil", 5]

#Find the length of your list
len(names)

7

In [4]:
#firts item 
names[0]

'abba'

In [6]:
# middle item
names[3]

'umar'

In [10]:
#last item
names[-1]

5

In [12]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["musa", 23, 1.75, "single", "Mubi-Adamawa"]

In [14]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle" ,"Amazon"]

#Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
# the number of companies in the list
len(it_companies)

7

In [17]:
#Print the first, middle and last company
print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

In [20]:
#Print the list after modifying one of the companies
it_companies[1] = "Hubuk"
it_companies

['Facebook', 'Hubuk', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
#Add an IT company to it_companies
it_companies.append("E-health")

In [23]:
#Insert an IT company in the middle of the companies list
it_companies.insert(3, "gems")
it_companies

['Facebook', 'Hubuk', 'Microsoft', 'gems', 'Gems', 'IBM', 'Oracle', 'Amazon']

In [34]:
#Change one of the it_companies names to uppercase
it_companies[3] = it_companies[3].upper()
it_companies

['Facebook', 'Hubuk', 'Microsoft', 'GEMS', 'Gems', 'IBM', 'Oracle', 'Amazon']

In [37]:
#Join the it_companies with a string '#;  '
lst = ["#"]
it_companies = it_companies + lst
it_companies

['Facebook',
 'Hubuk',
 'Microsoft',
 'GEMS',
 'Gems',
 'IBM',
 'Oracle',
 'Amazon',
 '#']

In [39]:
#Check if a certain company exists in the it_companies list.
istrue = 'Hubuk' in it_companies 
istrue

True

In [40]:
#Sort the list using sort() method
it_companies.sort()
it_companies

['#',
 'Amazon',
 'Facebook',
 'GEMS',
 'Gems',
 'Hubuk',
 'IBM',
 'Microsoft',
 'Oracle']

In [41]:
#Reverse the list in descending order using reverse() method

it_companies.reverse()
it_companies

['Oracle',
 'Microsoft',
 'IBM',
 'Hubuk',
 'Gems',
 'GEMS',
 'Facebook',
 'Amazon',
 '#']

In [44]:
#Slice out the first 3 companies from the list
new_list = it_companies[:3]
new_list

['Oracle', 'Microsoft', 'IBM']

In [46]:
#Slice out the last 3 companies from the list

Lst_items = it_companies[-4:-1]
Lst_items

['GEMS', 'Facebook', 'Amazon']

In [48]:
#Slice out the middle IT company or companies from the list
middle = it_companies[3:6]
middle

['Hubuk', 'Gems', 'GEMS']

In [49]:
#Remove the first IT company from the list
it_companies.remove("#")
it_companies

['Oracle', 'Microsoft', 'IBM', 'Hubuk', 'Gems', 'GEMS', 'Facebook', 'Amazon']

In [50]:
#Remove the middle IT company or companies from the lis
it_companies.remove("Hubuk")
it_companies

['Oracle', 'Microsoft', 'IBM', 'Gems', 'GEMS', 'Facebook', 'Amazon']

In [51]:
#Remove the last IT company from the list
it_companies.pop()
it_companies

['Oracle', 'Microsoft', 'IBM', 'Gems', 'GEMS', 'Facebook']

In [52]:
#Remove all IT companies from the list
it_companies.clear()
it_companies

[]

In [54]:
#Destroy the IT companies list
del it_companies
it_companies

NameError: name 'it_companies' is not defined

In [56]:
# Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [58]:
#insert Python and SQL after Redux.
full_stack. insert(5, "Python")
full_stack. insert(6, "SQL")
full_stack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Python',
 'SQL',
 'Node',
 'Express',
 'MongoDB']

In [8]:
#Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(f"the ages after sorting {ages}")
print(min(ages))
print(max(ages))

the ages after sorting [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [7]:
#Add the min age and the max age again to the list
extendable_list = [min(ages), max(ages)]
ages.extend(extendable_list)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [9]:
#Find the median age (one middle item or two middle items divided by two)
sum= ages[5] + ages[6]
median = sum / 2
median

24.0

In [13]:
#Find the average age (sum of all items divided by their number )
counter = 0
sum = 0
for age in ages:
    sum += age
    counter +=1

average = sum/counter
average

22.8

In [51]:
#Find the range of the ages (max minus min)
rang = max(ages) - min(ages)
rang

7

In [16]:
#Compare the value of (min - average) and (max - average), use abs() method
v1 = min(ages) - average
v2 = max(ages) - average
comp = abs(v1) == abs(v2)
comp

False

In [32]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
counter = 0
m_country = None
counter = len(countries)
if counter %2 == 0:
    index = counter // 2 
    median = (countries[index] + counter[index +1])//2
    m_country = counteries[median]
else: 
    index2 = counter//2
    m_country = countries[index2]

print(m_country)

Lesotho

In [36]:
#Divide the countries list into two equal lists if it is even if not one more country for the first half.
if counter %2 == 0:
    ind = counter // 2 
    first_half = [counteries[:ind]]
else: 
    ind2 = counter//2 + 1
    first_half = [countries[:ind2]]

print(first_half)

[['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']]

In [52]:
# unpacking couteries 

list_of_c = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
new_list = []
for i in range(3):
    new_list.append(list_of_c[i])
    list_of_c.pop(i)

new_list

['China', 'USA', 'Sweden']

                                       TUPLE Level 2 assignment

In [1]:
tup = ()
brothers = ("isa", "abba", "saleh")
sisters = ("khadijah", "ummi", "amne")
siblings = brothers + sisters 

print (siblings)

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne')

In [3]:
len(siblings)

6

In [4]:
f_members = siblings[:]
print(f_members)

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne')

In [10]:
f_members + ("muhammed", "hafsah")

('isa', 'abba', 'saleh', 'khadijah', 'ummi', 'amne', 'muhammed', 'hafsah')

Excercise 2

In [11]:
del f_members

In [14]:
fruits = ("watermelon","banana")
vegetables = ("tomato", "salad" )
animal_products = ("chicken", "turkey")

In [17]:
food_stuffs_tp = fruits + vegetables + animal_products
food_stuffs_tp

('watermelon', 'banana', 'tomato', 'salad', 'chicken', 'turkey')

In [20]:
mid_items = food_stuffs_tp[2:4]
mid_items

('tomato', 'salad')

In [22]:
f_3_items = food_stuffs_tp[:3]
f_3_items

('watermelon', 'banana', 'tomato')

In [23]:
del food_stuffs_tp

In [27]:
"banana" in food_stuffs_tp

NameError: name 'food_stuffs_tp' is not defined

In [28]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [29]:
'Estonia' in nordic_countries

False

In [30]:
'Iceland' in nordic_countries

True


                                  Sets Excercises below ....

In [34]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [35]:
len(it_companies)

7

In [38]:
it_companies.add("Twitter")

it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [42]:
it_companies.remove("Oracle")

KeyError: 'Oracle'

In [43]:
it_companies

{'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Twitter'}

Difference Between Remove() and Discard in-built set methods..

Remove: this is used to specifically remove an element that is passed as a parameter to a the method. if the items s not fount within the set, this method raise an error message. 

Disscard : this method is similar to the Remove method except this does not raise an error even if the reqired item is not found within the set.

                                    sets exercise Two 2 below...

In [44]:
C = A.union(B)
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [46]:
intersection = A.intersection(B)
intersection

{19, 20, 22, 24, 25, 26}

In [49]:
A.isdisjoint(B)

False

In [50]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [53]:
A.symmetric_difference(B)

{27, 28}

In [54]:
del A,B,it_companies

                                    Set Excercise 3 below ...

In [56]:

st = set(age)

In [59]:
len(st) == len(age)

False

String : A string is a sequence of characters enclosed in single quotes (') or double quotes (")
list : This however, contains ordered collection of items of dofferent data types.

Turple : A tuple is similar to a list, but it is immutable, which means it cannot be modified after its creation.

Set : a set is an unordered container of elements that is mutable. however, duplications is not possible in sets.

In [67]:
string = "I am a teacher and I love to inspire and teach people"
words = string.split(" ") 
st = set(words)

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']

In [71]:
print(f"the number of unique words useed is {len(st)}")

the number of unique words useed is 5